---
---

<footer class="mt-20 border-t-2 border-border">
  <div
    class="container mx-auto flex max-w-xl flex-col items-center justify-between gap-4 py-8 px-4"
  >
    <p class="text-sm text-muted-foreground">
      &copy; {new Date().getFullYear()} PenguFit AI. All rights reserved.
    </p>
    <div class="flex items-center gap-6 flex-wrap justify-center">
      <a href="mailto:contact@pengufit.com" class="text-sm">
        Contact Us
      </a>
      <a href="https://www.pengufit.com/privacypolicy" class="text-sm">
        Privacy Policy
      </a>
      <a href="https://www.pengufit.com/termsofservice" class="text-sm">
        Terms of Service
      </a>
      <a
        href="https://pengufit.com/login"
        class="text-sm"
      >
        Sign Up
      </a>
    </div>
  </div>
</footer> 