---
---

<footer class="mt-20 border-t-2 border-border">
  <div
    class="container mx-auto flex max-w-xl flex-col items-center justify-between gap-4 py-8 px-4 sm:flex-row"
  >
    <p class="text-sm text-muted-foreground">
      &copy; {new Date().getFullYear()} PenguFit AI. All rights reserved.
    </p>
    <div class="flex items-center gap-6">
      <a href="mailto:contact@pengufit.com" class="text-sm text-muted-foreground hover:underline">
        Contact Us
      </a>
      <a href="/terms" class="text-sm text-muted-foreground hover:underline">
        Terms & Conditions
      </a>
      <a
        href="https://pengufit.com/login"
        class="text-sm text-muted-foreground hover:underline"
      >
        Sign Up
      </a>
    </div>
  </div>
</footer> 